<%= render partial: "visitors/visitor_table_headings" %>
    <% @visitors.each do |visitor|  %>
        <%= render partial: "visitors/visitor", locals: {visitor: visitor} %>
    <% end %>
</tbody>
</table>
</div>
</div>
 


