<%= link_to "most recent",  most_recent_path(@app)  %>
<%= render partial: "visitors/visitor_table_headings" %>
<%= render partial: "visitors/visitor", locals: {visitor: @visitor} %>
</tbody>
</table>
</div>
</div>
 