


<div class="table">
<div class="table-wrapper">
<table>
<thead>
    <tr>
    <th>User</th>
    <th>Email</th>
    <th>Edit</th>
    </tr>
</thead>
<tbody>
<% @users.each do |user|  %>
    <tr>
        <td><%= link_to user.username, app_user_path(@app, user)  %></td>
        <td><%=   user.email %></td>
        <td><%=  link_to "Edit",  edit_app_user_path(@app, user) %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
</div>






