<div class="table">
<div class="table-wrapper">
<table>
<thead>
    <tr>
    <th></th>
    <th>Title</th>
    <th>Visits</th>
    </tr>
</thead>
<tbody>
    <% @pages.each do |page|  %>
    <tr>
        <td><%= link_to page.title, app_page_path(@app, page.id) %></td>
        <td><%=   page.title %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
</div>



