Listing attraction
<hr>
    <div class="row">
        <div class="column" >
            <h4>Name</h4>
        </div>
        <div class="column">
            <h4>Tickets</h4>
        </div>
        <div class="column">
            <h4>Details</h4>
        </div>
        <div class="column" >
            <h4>Name</h4>
        </div>
        <div class="column">
            <h4>Tickets</h4>
        </div>
        <div class="column">
            <h4>Details</h4>
        </div>
    </div>
    <div class="row">
        <div class="column" >
         <p>Test</p>
        </div>
        <div class="column">
        <p>Test</p>
        </div>
        <div class="column">
        <p>Test</p>
        </div>
    </div>


