/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.signin-form {
    padding-top: 2em;
    width: 30%;
    height: 590px;
    float: none;
    margin: 0 auto;
}

body {
    display:flex;
}

.table {
    margin: 20px;
    padding: 0;
    height: 100%;
  }
  
  .table {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 90%;
    color: #333;
  }
  
  .table-wrapper {
    overflow: scroll; 
  }
  
  table {
    position: relative;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  td, th {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  th {
    background-color: #eee;
    position: sticky;
    top: -1px;
    z-index: 2;
    
    &:first-of-type {
      left: 0;
      z-index: 3;
    }
  }
  
  tbody tr td:first-of-type {
    background-color: #eee;
    position: sticky;
    left: -1px;
    text-align: left;
  }


  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  .notice{
    padding: 2px;
    background-color: red;

  }
  