.fs-4{
    padding: 5px;
    margin-right: 10px;
}


#navigation-header{
    color: blue;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
body > div:nth-child(4) > div > div > div:nth-child(2) > h1{
    color: black;
}


.display-5 {
    color: white;
}



.background{
    background-color: #ff5c35;
}


.col-lg-6{
    color: black;
}

.lead{
    color: white;
}

.more-info-lead{
    color: black;
}

.more-info-header{
    color: black;
}


.more-info{
    background-color: #f6f9fc;
    color: black
   
}

.more-info-container{
    color: black
}


.more-info-box{
    // background-color: gray;
    margin: 20px;
        color: black
}

.more-info-container-column{
    background-color: white;
    color: black

}

